.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.h1 {
    font-size: 2rem;
    align-self: center;
}

.input {
    margin-bottom: 1vh;
    min-height: 5vh;
    border-radius: 5px;
    border: solid 1px #303030;
}

.input:focus {
    outline: auto #303030;
}

.form {
    background-color: #535454;
    align-self: center;
    justify-content: center;
    color: white;
    display: flex;
    flex-direction: column;
    width: 60vh;
    border-radius: 5px;
    padding: 5vh 7vh;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.2rem;
    background: #020430;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin: 0 0.25rem;
}

.invalid {
    color: red;
    margin: 0 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.button {
    background-color: #020430;
    color: white;
    align-self: center;
    width: 100%;
    margin-top: 2vh;
}