.App {
    display: flex;
}

aside {
    background-color: #000;
    width: 30vh;
    height: 100vh;
    color: #fff;
}

aside ul {
    padding: 0;
    margin: 0;
}

aside li {
    list-style-type: none;
    padding: 1vh 2vh;
    display: flex;
}

aside li:hover {
    background-color: #fff;
    color: #000;
}

aside li a {
    text-decoration: none;
    color: #fff;
    width: 100%;
}

aside li:hover a {
    color: #000;
}

header {
    background-color: yellow;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 1vh;
}

header a {
    color: #000;
    text-decoration: none;
}

main {
    height: 89vh;
}

footer {
    background-color: yellow;
    height: 5vh;

}