.App {
    display: flex;
}

aside {
    background-color: #020430;
    height: 100vh;
    width: 15%;
    color: #fff;
}

aside ul {
    padding: 0;
    margin: 0;
}

aside li {
    list-style-type: none;
    padding: 1vh 2vh;
    display: flex;
}

aside li:hover {
    background-color: #fff;
    color: #000;
}

aside li a {
    text-decoration: none;
    color: #fff;
    width: 100%;
}

aside li:hover a {
    color: #000;
}

header {
    background-color: #777777;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: #000;
    text-decoration: none;
}

main {
    height: 88vh;
    overflow-wrap: anywhere;
    background-color: #ACACAC;
    padding: 2vh;
}

footer {
    background-color: #777777;
    height: 4vh;
    color: #fff;
    text-align: end;
    padding-right: 2vh;
}

.block2 {
    width: 85%;
}

#loginButton {
    background-color: #020430;
    color: #fff;
}

#loginButton:hover {
    background-color: #040970;
}